# Node                                                                                                                                      
node_modules/                                                                                                                               
dist/                                                                                                                                       
                                                                                                                                            
# Python / uv                                                                                                                               
__pycache__/                                                                                                                                
.venv/                                                                                                                                      
.python-version                                                                                                                             
                                                                                                                                            
# Entorno                                                                                                                                   
.env                                                                                                                                        
                                                                                                                                            
# SO                                                                                                                                        
.DS_Store

skills/

openspec/
odd/

# Herramientas locales
.atl/
.codegraph/
.gga
